include post_deploy/README.md
include post_deploy/LICENSE.txt
recursive-include post_deploy/management *.py
recursive-include post_deploy/migrations *.py
recursive-include post_deploy/plugins *.py
recursive-include post_deploy/tests *.py